@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&family=Titillium+Web&display=swap');

h1, h2, h3, p {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
}

.header {
  position: sticky;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #7BE3FE;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
}

.intro {
  margin: auto;
  padding: 0 0 0 0;
  width: 50vw;
  text-align: center;
  font-size: 36px;
}

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-size: 48px;
  margin: 0 0 0 0;
}

.animation {
  background: url('./Images/animated_code.gif') no-repeat fixed;
  background-size: cover;
}

.intro p {
  font-size: 24px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 75vw;
  margin: auto;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.single_skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottm: 10vh;
  margin-top: 10vh;
  width: 33%;
}

.skill_image {
  align-self: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.single_project p {
  font-size: 18px;
  text-align: center;
}

.line {
  background-color: #7BE3FE;
  width: 75%;
  height: 5px;
}

.project_image {
  width: 30vw;
  height: 30vh;
}